@font-face {
	font-family: Sicretpersonal;
	font-display: swap;
	src: url("../fonts/Sicretpersonal.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Sicretpersonalsembd;
	font-display: swap;
	src: url("../fonts/Sicretpersonalsembd.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: secretfilesii;
	font-display: swap;
	src: url("../fonts/secretfilesii.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
